<div class="backgroundImg">
<h1 class="centerheader">Login</h1>

<form class="authform" action="/auth/login" method="POST">
 
 <div class="wrapper">
  {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    <label> Email
      <input type="text" name="email" placeholder="Enter you email" maxlength="50"/>
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" maxlength="50"/>
    </label>
 
    <button class="buttonAuth" type="submit">Login</button>
 </div>

</form>

</div>
