<h1>Welcome back</h1>

<form class="authform" action="/auth/login" method="POST">
 <div class="wrapper">
    <label> Email
      <input type="text" name="email" placeholder="Enter you email" maxlength="20"/>
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" maxlength="20"/>
    </label>
 
    <button class="buttonAuth" type="submit">Login</button>
 </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>