<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

     {{#if loggedIn}}

      <nav class="nav-bar">
         <ul class="nav-bar-ul">
            <li id="to-right" class="nav-bar-li">
             <form id="logout-form" action="/auth/logout" method="POST">
               <button>Logout</button>
            </form>
            </li>
             <li class="nav-bar-li"><a class="nav-bar-item" href="/place/placelist">All places</a></li>
            <li class="nav-bar-li"><a class="nav-bar-item" href="/place/create">Add new place</a></li>
         </ul>
      </nav>
     {{else}} 
      <nav class="nav-bar">
         <ul class="nav-bar-ul">
            <li id="to-right" class="nav-bar-li">
            <a class="nav-bar-item" href="/auth/signup">Signup</a> <span> | </span>
            <a class="nav-bar-item" href="/auth/login">Login</a> {{!-- !!! --}}
            </li>
         </ul>
      </nav>
      
   {{/if}}
      {{{body}}}
   
      <script src="/js/script.js"></script>
   </body>

</html>