@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#map {
  width: 60vw;
  height: 90vh;
}

/* Nav Bar  */

nav {
  height: 10vh;
}

nav img{
  height: 70px;
  width:70px;
  margin:0;
  padding:0;
}

nav ul{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  /* align-items: center; */


}
.navItemOne { grid-area: 1 / 1 / 2 / 2;
 
 }
.navItemTwo { grid-area: 1 / 2 / 4 / 5; }
.navItemThree { grid-area: 1 / 11 / 12 / 13; }

.nav-bar {
  background-color: #ee2222;
  padding: 14px 0;
}
.nav-bar a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

nav h1{
  color:white;
  font-size: 48px;
  font-weight: 700;
  padding:0;
  margin:0;
}



.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

.nav-bar-item {
  color: white;
  font-size: 2em;
  text-decoration: none;
  margin-right: 20px;
}




h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.buttonclass {
  background-color: #00b7ff;
}

#landingContainer {
  display: flex;
  justify-content: space-between;
}

#placesList {
  height: 90vh;
  overflow: scroll;
  scrollbar-color: red;
}

/* Scroll styling */

#placesList::-webkit-scrollbar {
  width: 10px;
}

#placesList::-webkit-scrollbar-track {
  border-radius: 10px;
}

#placesList::-webkit-scrollbar-thumb {
  background: red;
}

#placesList::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* Placelist Text Styling */

#placesList a {
  color: #ee2222;
  text-decoration: none;
}

#placesList {
  padding-right: 15px;
}

#placesList h3 {
  font-size: 24px;
  font-weight: 700;
}

#placesList p {
  font-size: 16px;
  font-weight: 700;
}
