@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #00b7ff;
}



#map {
  width: 60vw;
  height: 90vh;
}

/* Nav Bar  */

nav {
  height: 10vh;
}

nav img {
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
}

/* Nav Bar Logged Out */
.navItemOne {
  grid-area: 1 / 1 / 2 / 2;
}
.navItemTwo {
  grid-area: 1 / 2 / 4 / 5;
}
.navItemThree {
  grid-area: 1 / 9 / 10 / 11;
}
.navItemFour{
  grid-area: 1 / 11 / 12 / 13;
}

/* Nav Bar Logged In */
.navItemOneLoggedIn {
  grid-area: 1 / 1 / 2 / 2;
}
.navItemTwoLoggedIn {
  grid-area: 1 / 2 / 4 / 5;
}
.navItemThreeLoggedIn {
  grid-area: 1 / 7 / 8 / 9;
}
.navItemFourLoggedIn {
  grid-area: 1 / 9 / 10 / 11;

}

.navItemFiveLoggedIn {
  grid-area: 1 / 11 / 12 / 13;

}

.nav-bar {
  background-color: #ee2222;
  padding: 14px 0;
}
.nav-bar a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

nav h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

.nav-bar-item {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 20px;
}

#logout-form button{
  background: none;
  border: none;
  padding: 0;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;

}

/* h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  color: #EE2222;
}
p{
  text-align: center;
  color: red;
} */

/* New Css */

.placewrapper {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  box-shadow: #ee2222;
}
.createform input {
  width: 65%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.placewrapper label {
  float: left;
  width: 40%;
  text-align: right;
  margin-right: 5px; /* optional */
}

.placewrapper textarea {
  width: 65%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.addplace button {
  color: #ffffff;
  height: 58px;
  width: 198px;
  background: #ee2222;
  font-weight: 500;
  font-size: 24px;
  border-radius: 20px;
}

.btndelete {
  box-sizing: border-box;
  position: absolute;
  width: 198px;
  height: 58px;
  background: #fffdfd;
  border: 1px solid #ee2222;
}

.wrapper {
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0, 1);
}
h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 1.2rem;
}

.authform input {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.buttonAuth {
  font-size: 1rem;
  margin-top: 1.8px;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  background: lightcoral;
}

.buttonAuth:hover {
  background: coral;
}
input:focus {
  border: 1px solid rgb(192, 192, 192);
}
/* end*/

.buttonclass {
  background-color: #00b7ff;
}

#landingContainer {
  display: flex;
  justify-content: space-between;
}

#placesList {
  height: 90vh;
  overflow: scroll;
  scrollbar-color: red;
}

/* Scroll styling */

#placesList::-webkit-scrollbar {
  width: 10px;
}

#placesList::-webkit-scrollbar-track {
  border-radius: 10px;
}

#placesList::-webkit-scrollbar-thumb {
  background: red;
}

#placesList::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* Placelist Text Styling */

#placesList a {
  color: #ee2222;
  text-decoration: none;
}

#placesList {
  padding-right: 15px;
}

#placesList h3 {
  font-size: 24px;
  font-weight: 700;
}

#placesList p {
  font-size: 16px;
  font-weight: 700;
}
