<div class="backgroundImg">
<h1 class="centerheader">I know a place </h1>

<form class="createform" action="/place/create" method="post">

<div class="placewrapper">
    <label>
      <input type="text" name="name" placeholder="What's the name?" required>
    </label>

    <label>
      <input type="text" name="address" placeholder="Where it is located?" required>
    </label>

    <label>
      <input type="number" name="zipCode" placeholder="What's the zip-code?" required>
    </label>

    <label>
      <input list="category" name="category" placeholder="Choose a category" required>
    </label>
      <label>
      <textarea name="description" cols="30" rows="10" required>Description</textarea>
    </label>
    


    <div class="addplace">
      <button type="submit">Add Place</button>
    </div>



  <datalist id="category">
    {{#each allCategories}}
    <option value="{{this}}">
    {{/each}}
  </datalist>
</div>
</form>

</div>

