<h1>Enter a new place</h1>

<form action="/place/create" method="post">
    <input type="text" name="name" placeholder="Enter the name of the place">
    <input type="text" name="address" placeholder="Enter the address of the place">
    <input type="number" name="zipCode" placeholder="Enter the zip code of the place">
    <textarea name="description" cols="30" rows="10">Description</textarea>
<input list="category" name="category" placeholder="Category">

<datalist id="category">
    {{#each allCategories}}
  <option value="{{this}}">

    {{/each}}

</datalist>
<button type="submit">Submit</button>

</form>